<main>
    <p id="notice"></p>
    <div class="container">
     <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <div class="form-group">
        <%= form_with model:@user, local:true do |f| %>
        <label for="user_name">Name</label>
        <input class="form-control name" type="text" value="竹井 宗和" name="user[name]" id="user_name">

      </div>
      <div class="form-group">
        <label for="user_image">Image</label>
         <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>

      </div>
      <div class="form-group">
        <label for="user_introduction">Introduction</label>
        <textarea class="form-control introduction" name="user[introduction]" id="user_introduction"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User">
      </div>
      </form>
     </div>
    </div>
  </div>
</main>
<% end %>

<footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>
</body>
</html>